<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-sm add-product-heading text-center">
        <h4 class="display-4 " th:text="${'Create User:'}"/>
    </div>
</div>
<div id="nav-bar-warehouse" class="row">
    <nav class="col-sm-5 navbar navbar-light">
        <a href="/productType/list" th:text="${'Product Type list'}"></a>
        <a href="/product/list" th:text="${'Products list'}"></a>
        <a href="/productType/create" sec:authorize="${hasRole('ADMIN')}" th:text="${'Create product type'}"></a>
        <a href="/product/create" sec:authorize="${hasRole('ADMIN')}" th:text="${'Create product'}"></a>
        <a href="/user/list" sec:authorize="${hasRole('ADMIN')}" th:text="${'Users List'}"></a>
    </nav>
    <div class="col-sm text-right">
        <a href="/logout" th:text="${'logout'}"></a>
    </div>
</div>

<div class="message">
    <span th:text="${success != null} ? ${success}"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/user/edit}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="role">Choose role:</label>
                    <select class="form-control create-input-fields" id="role" name="roleId">
                        <option name="roleId"
                                th:each="role : ${roles}"
                                th:value="${role.getId()}"
                                th:text="${role.getName()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input th:field="*{email}" type="email" class="form-control create-input-fields" id="email" placeholder="email" th:value="${user.email}">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Wrong Email</p>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input th:field="*{username}" type="text" class="form-control create-input-fields" id="username" placeholder="username" th:value="${user.username}">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red">Wrong username</p>
                </div>
                <div class="form-group">
                    <label for="password">New password:</label>
                    <input type="text" class="form-control create-input-fields" id="password" placeholder="password" name="password">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Wrong password</p>
                </div>
                <input name="id" type="hidden" th:value="${user.getId()}"/>
                <input type="submit" class="btn btn-success save-product" th:value="Submit"/>

            </form>
        </div>
    </div>
</div>

</body>
</html>