<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-sm add-product-heading text-center">
        <h4 class="display-4 " th:text="${'Create Product type:'}"/>
    </div>
</div>
<div id="nav-bar-warehouse" class="row">
    <nav class="col-sm-3 navbar navbar-light">
        <a href="/productType/list" th:text="${'Product Type list'}"></a>
        <a href="/product/list" th:text="${'Products list'}"></a>
        <a sec:authorize="${hasRole('ADMIN')}" href="/product/create" th:text="${'Create product'}"></a>
        <a href="/user/list" sec:authorize="${hasRole('ADMIN')}" th:text="${'Users list'}"></a>
    </nav>
    <div class="col-sm text-right">
        <a href="/logout" th:text="${'logout'}"></a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/productType/create}" method="post" th:object="${productType}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input th:field="*{name}" type="text" class="form-control create-input-fields" id="name"
                           placeholder="Name">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Wrong name</p>
                </div>
                <input type="submit" class="btn btn-success save-product" th:value="Submit"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm message">
            <div th:if="${success != null}" class="alert alert-success">
                <span th:text="${success}"/>
            </div>
            <div th:if="${error != null}" class="alert alert-danger">
                <span th:text="${error}"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>